

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.container {
  max-width: 960px;
  margin: 0 auto; 
  padding: 20px;
}

h2 {
  color: rgb(44, 44, 177); 
}

.blog-post-title { 
  font-size: 24px;
  font-weight: bold;
}

.error-message {
  color: red;
}

/* Update index.css */
.navbar {
  background-color: #c08b8b;
  color: #812929;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: #611919;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}
