

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.container {
  max-width: 960px;
  margin: 0 auto; 
  padding: 20px;
}

h2 {
  color: rgb(44, 44, 177); 
}

.blog-post-title { 
  font-size: 24px;
  font-weight: bold;
}

.error-message {
  color: red;
}